/* your code */
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td  th{
	padding: 15px;
}
table thead td  th{
	background-color: #54585d;
	color: #f8ffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td th{
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr  {
	background-color: #f9fafb;
}
table tbody tr :nth-child(odd) {
	background-color: #ffffff;
}